{{!-- prompts the user for a username and password...if recognized it lets them log in using the log in button, starting
a session--}}

<link rel="stylesheet" href="/assets/css/loginsignup.css">

<form class="form" id="login-form">
  <div>
    <label for="username-login">Username:</label>
    <input type="text" id="username-login" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <input type="submit">login</input>
  </div>
</form>