<form class="new-post-form" id="awesome-post-form">
  <div>
    <label for="url-new-post">Add Photo Here:</label>
    <input type="file" id="img-new-post" />
    <img id="myImg" src="#">
  </div>
  <div>
    <label for="caption-new-post">Caption:</label>
    <input type="text" class="textbox" id="caption-new-post" />
  </div>

  <div>
    <input class="button" type="submit" id="post-button" value="Post"></input>
  </div>
</form>

<script src="/javascript/newpost.js"></script>