{{!-- username --}}
<div class="profile-username">
  <h1>{{req.session.username}}</h1>
</div>

{{!-- new post option --}}
<div>
  <input class="button" id="new-post" type="submit" value="Create A New Post"></input>
</div>

{{!-- List of the user's posts --}}
{{#if posts.length}}
<section>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> inner-post post}}
      <form class="edit-button" action="/api/post" method="put">
        <input type="text" name="text"></input>
        <input class="button" id={{this.id}} type="submit" value="Edit Caption"></input>
      </div>
      <div class="delete-button">
        <input class="button" id={{this.id}} type="submit" value="Delete Post"></input>
      </form>
    </li>
    {{/each}}
  </ol>
</section>
{{else}}
<h1>No Posts Yet!</h1>
{{/if}}