{{!-- profile pic --}}
{{!-- <div class="profile-pic">
<img src={{this.user.profilePicture}}>
</div> --}}

{{!-- username --}}
<div class="profile-username">
    <h1>{{this.username}}</h1>
</div>

{{!-- new post option --}}
<div>
      <input class="button new-post" type="submit" value="Create A New Post"></input>
    </div>

{{!-- List of the user's posts --}}
{{#if posts.length}}
<section>
  <ol>
    {{#each this.user.posts as |post|}}
    <li>
      {{> inner-post post}}
    </li>
    {{/each}}
  </ol>
</section>
{{else}}
<h1>No Posts Yet!</h1>
{{/if}}
