{{!-- profile pic --}}
<div class="profile-pic">
<img src="{{this.user.profilePicture}}">
</div>

{{!-- username --}}
<div class="profile-username">
    <h1>{{this.user.username}}</h1>
</div>

{{!-- new post option --}}
<div>
<a href="/newpost">New Post</a>
</div>

{{#each posts}}
{{!-- Posts --}}
<div>

</div>
{{/each}}