{{!-- Lets a user sign up, encrypts and saves the password. --}}

<link rel="stylesheet" href="/assets/css/loginsignup.css">

<div class="form">
  <div class="form-header">
    <h1>If you don't already have an account</h1>
    <h1>sign up here</h1>
  </div>
  <form id="signup-form">
    <div>
      <label for="username-signup">Username:</label>
      <input class="textbox" type="text" id="username-signup" />
    </div>
    <div>
      <label for="email-signup">Email:</label>
      <input class="textbox" type="email" id="email-signup" />
    </div>
    <div>
      <label for="password-signup">Password:</label>
      <input class="textbox" type="password" id="password-signup" />
    </div>
    <div>
      <input class="button" type="submit" value="Sign Up"></input>
    </div>
  </form>
</div>