{{!-- Page that our site originally directs to. Should direct here every time that somebody tries to visit any other handlebars without trying to log in --}}
<div class="welcome">
    <div class="redirect-text">
    <h1>Thank you for visiting Petsagram!</h1> 
    <h1>Please log in or sign up so that you can explore and share!</h1>
    </div>
</div>